<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>About me</title>
    <link
      rel="stylesheet"
      type="text/css"
      href="{{url_for('static', filename='css/style.css')}}"
    />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    <div class="wrapper">
      <header class="header">
        <div class="container">
          <div class="header-buttons">
            <div class="header__home">
              <a class="header__home-btn" href="/">Home</a>
            </div>
            <div class="header__about">
              <a class="header__about-btn" href="/about">About me</a>
            </div>
            <div class="header__skills">
              <a class="header__skills-btn" href="/skills">Skills</a>
            </div>
            <div class="header__portfolio">
              <a class="header__portfolio-btn" href="/portfolio">Portfolio</a>
            </div>
            <div class="header__contacts">
              <a class="header__contacts-btn" href="/contacts">Contacts</a>
            </div>
          </div>
          <div class="header__underline">⠀</div>
        </div>
      </header>
      <div class="about">
        <div class="container">
          <div class="about-box">
            <div class="about__title">About me</div>
            <div class="about__paragraph1">
              Hi, I'm Sergei – Beginner Junior Python Developer from Orenburg.
              I'm interested in Python and everything connected with it.
            </div>
            <div class="about__paragraph2">
              I'm studying by myself since my 15th birthday.
            </div>
            <div class="about__paragraph3">
              Ready to implement excellent projects with wonderful people.
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
