<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Мои Скиллы</title>
    <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/style.css')}}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap" rel="stylesheet">
  </head>
  <body>
    <div class="wrapper">
      <header class="header">
        <div class="container">
          <div class="header-buttons">
            <div class="header__home">
              <a class="header__home-btn" href="/ru">Домой</a>
            </div>
            <div class="header__about">
              <a class="header__about-btn" href="/about-ru">О мне</a>
            </div>
            <div class="header__skills">
              <a class="header__skills-btn" href="/skills-ru">Скиллы</a>
            </div>
            <div class="header__portfolio">
              <a class="header__portfolio-btn" href="/portfolio-ru">Портфолио</a>
            </div>
            <div class="header__contacts">
              <a class="header__contacts-btn" href="/contacts-ru">Контакты</a>
            </div>
          </div>
          <div class="header__underline">⠀</div>
        </div>
      </header>
      <div class="soft-skills">
        <div class="container">
          <div class="soft-skills__box">
            <div class="soft-skills__title">Софт Скиллы</div>
            <div class="soft-skills__description">
              Я оцениваю свои софт скиллы таким образом
            </div>
            <div class="soft-skills__rating">
              <div class="soft-skills__rating-card">
                <div class="soft-skills__name">Усидчивость</div>
                <div class="soft-skills__rating-value">
                  <img
                    class="soft-skills__rating-img"
                    src="./../static/image/rating-4.png"
                    alt="/"
                  />
                </div>
              </div>
              <div class="soft-skills__rating-card">
                <div class="soft-skills__name">Командная работа</div>
                <div class="soft-skills__rating-value">
                  <img
                    class="soft-skills__rating-img"
                    src="./../static/image/rating-4.png"
                    alt="/"
                  />
                </div>
              </div>
              <div class="soft-skills__rating-card">
                <div class="soft-skills__name">Креативность</div>
                <div class="soft-skills__rating-value">
                  <img
                    class="soft-skills__rating-img"
                    src="./../static/image/rating-3.png"
                    alt="/"
                  />
                </div>
              </div>
              <div class="soft-skills__rating-card">
                <div class="soft-skills__name">Дисциплина</div>
                <div class="soft-skills__rating-value">
                  <img
                    class="soft-skills__rating-img"
                    src="./../static/image/rating-4.png"
                    alt="/"
                  />
                </div>
              </div>
            </div>
          </div>
          <div class="hard-skills__box">
            <div class="hard-skills__title">Хард Скиллы</div>
            <div class="hard-skills__text">
              <div class="hard-skills__text-p1">
                Мои знания Английского языка находятся на уровне Intermediate
              </div>
              <div class="hard-skills__text-p2">
                У меня есть опыт написания парсеров на Python (используя такие библиотеки как: requests, Beautifulsoup4 и webdriver Selenium)
              </div>
              <div class="hard-skills__text-p3">
                Вы можете найти примеры моей работы с HTML (HTML5 and CSS3) В моём портфолио. Все они сделаны с помощью flex-box и являются адаптивными
              </div>
              <div class="hard-skills__text-p4">
                Мои знания также состоят из опыта использования PostgreSQL(используя pgAdmin или используя библиотеку Python psycopg2)
              </div>
            </div>
          </div>
        </div>
      </div>
  </body>
</html>
