.wrapper {
  min-height: 100%;
  display: flex;
  flex-direction: column;
}

.header {
  &__home {
  }

  &__home-btn {
    text-decoration: none;
    font-family: "Roboto";
    font-weight: 400;
    font-size: 14px;
    line-height: 22px;
    color: #828282;
  }

  &__skills {
  }

  &__skills-btn {
    text-decoration: none;
    font-family: "Roboto";
    font-weight: 400;
    font-size: 14px;
    line-height: 22px;
    color: #828282;
  }

  &__portfolio {
  }

  &__portfolio-btn {
    text-decoration: none;
    font-family: "Roboto";
    font-weight: 400;
    font-size: 14px;
    line-height: 22px;
    color: #828282;
  }

  &__contacts {
  }

  &__contacts-btn {
    text-decoration: none;
    font-family: "Roboto";
    font-weight: 400;
    font-size: 14px;
    line-height: 22px;
    color: #828282;
  }

  &__about {
  }

  &__about-btn {
    text-decoration: none;
    font-family: "Roboto";
    font-weight: 400;
    font-size: 14px;
    line-height: 22px;
    color: #828282;
  }

  &__underline {
    border-bottom: 1px solid #828282;
  }
}

.container {
  @media (max-width: 1410px) {
    width: 992px;
    margin: 0 auto;
  }
  @media (min-width: 1410px) {
    width: 992px;
    margin: 0 auto;
  }
  @media (max-width: 1200px) {
    width: 767px;
    margin: 0 auto;
  }
  @media (max-width: 992px) {
    width: 760px;
    margin: 0 auto;
  }
  @media (max-width: 767px) {
    width: 100%;
    margin: 0 auto;
  }
}

.header-buttons {
  display: flex;
  justify-content: space-between;
  margin-bottom: 5px;
  margin-top: 10px;
}
.header-panel {
  &__box1 {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    margin-top: 10px;
  }

  &__name {
    font-weight: 400;
    font-size: 47.3392px;
    line-height: 59px;
    color: #070707;
    font-family: "Roboto";
    width: 200px;
  }

  &__position {
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    color: #070707;
    font-family: "Roboto";
    width: 300px;
    margin-bottom: 10px;
  }

  &__language {
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    color: #070707;
    font-family: "Roboto";
    transform: rotate(-90deg);
    margin-right: -20px;
    margin-bottom: 35px;
  }

  &__language-not-selected {
    color: #828282;
  }

  &__language-selected {
    text-decoration: none;
    color: #000000;
  }

  &__box2 {
    margin-top: 50px;
  }

  &__img {
  }
}
.about {
  background-color: #f6f6f6;
  min-height: 506px;
  margin-top: 105px;
  &__title {
    font-weight: 400;
    font-size: 34px;
    line-height: 42px;
    text-align: center;
    color: #070707;
    font-family: "Roboto";
    margin-bottom: 25px;
  }

  &__paragraph1 {
    font-weight: 400;
    font-size: 18px;
    line-height: 42px;
    text-align: center;
    color: #070707;
    font-family: "Roboto";
  }

  &__paragraph2 {
    font-weight: 400;
    font-size: 18px;
    line-height: 42px;
    text-align: center;
    color: #070707;
    font-family: "Roboto";
  }

  &__paragraph3 {
    font-weight: 400;
    font-size: 18px;
    line-height: 42px;
    text-align: center;
    color: #070707;
    font-family: "Roboto";
  }
}
.about-box {
  max-width: 490px;
  margin: 120px auto 107px auto;
}
.soft-skills {
  &__box {
  }

  &__title {
    font-weight: 400;
    font-size: 34px;
    line-height: 42px;
    text-align: center;
    color: #070707;
    font-family: "Roboto";
    margin-top: 90px;
  }

  &__description {
    font-weight: 400;
    font-size: 18px;
    line-height: 42px;
    text-align: center;
    color: #070707;
    font-family: "Roboto";
    margin-top: 70px;
  }

  &__rating {
    display: flex;
    justify-content: space-between;
    margin-bottom: 110px;
  }

  &__rating-card {
    margin-top: 70px;
  }

  &__name {
    font-weight: 400;
    font-size: 18px;
    line-height: 42px;
    text-align: center;
    color: #070707;
    font-family: "Roboto";
  }

  &__rating-value {
  }

  &__rating-img {
  }
}
.hard-skills {
  &__box {
  }

  &__title {
    font-weight: 400;
    font-size: 34px;
    line-height: 42px;
    text-align: center;
    color: #070707;
    font-family: "Roboto";
    margin-top: 90px;
  }

  &__text {
    font-weight: 400;
    font-size: 18px;
    line-height: 42px;
    text-align: center;
    color: #070707;
    font-family: "Roboto";
    margin-top: 70px;
  }

  &__text-p1 {
    margin-bottom: 25px;
  }

  &__text-p2 {
    margin-bottom: 25px;
  }

  &__text-p3 {
    margin-bottom: 25px;
  }

  &__text-p4 {
    margin-bottom: 25px;
  }
}
.portfolio {
  background-color: #f6f6f6;
  min-height: 2253px;
  &__title {
    font-weight: 400;
    font-size: 34px;
    line-height: 42px;
    text-align: center;
    color: #070707;
    font-family: "Roboto";
    margin-top: 112px;
    margin-bottom: 47px;
  }

  &__works {
  }

  &__work-card {
    display: flex;
    flex-direction: column;
    margin-bottom: 100px;
  }

  &__work-img {
    width: 936px;
    height: 522px;
    background-color: #000000;
    margin: 0 auto 45px auto;
    display: none;
  }

  &__work-link {
    display: flex;
    justify-content: center;
    font-family: "Roboto";
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    text-align: center;
    text-decoration-line: underline;
    color: #070707;
  }
}
.portfolio-box {
}
.contacts {
  margin-bottom: 123px;
  &__title {
    font-weight: 400;
    font-size: 34px;
    line-height: 42px;
    text-align: center;
    color: #070707;
    font-family: "Roboto";
    margin-top: 115px;
  }

  &__description {
    font-weight: 400;
    font-size: 18px;
    line-height: 42px;
    text-align: center;
    color: #070707;
    font-family: "Roboto";
    margin-top: 20px;
    width: 275px;
    margin: 20px auto 20px auto;
  }

  &__btn {
    border: 1px solid #000000;
    border-radius: 20px;
    color: #ffffff;
    background-color: #070707;
    font-family: "Roboto";
    font-size: 16px;
    margin: 0 auto;
    margin-top: 30px;
    padding: 12px 30px;
    text-decoration: none;
  }

  &__links-list {
    width: 141px;
    margin: 85px auto 45px auto;
    display: flex;
    justify-content: space-between;
  }

  &__link {
  }

  &__img {
  }

  &__sec-description {
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    text-align: center;
    color: #828282;
    font-family: "Roboto";
  }
}
.contacts-box {
  display: flex;
  flex-direction: column;
}

@media (min-width: 1410px) {
  .header {
    &__home {
    }

    &__home-btn {
    }

    &__skills {
    }

    &__skills-btn {
    }

    &__portfolio {
    }

    &__portfolio-btn {
    }

    &__contacts {
    }

    &__contacts-btn {
    }

    &__underline {
    }
  }

  .header-buttons {
  }
  .header-panel {
    &__box1 {
    }

    &__name {
    }

    &__position {
    }

    &__language {
    }

    &__language-not-selected {
    }

    &__language-selected {
    }

    &__box2 {
      display: flex;
    }

    &__img {
      width: 100%;
    }
  }
  .about {
    &__title {
    }

    &__paragraph1 {
    }

    &__paragraph2 {
    }

    &__paragraph3 {
    }
  }
  .about-box {
  }
  .soft-skills {
    &__box {
    }

    &__title {
    }

    &__description {
    }

    &__rating {
    }

    &__rating-card {
    }

    &__name {
    }

    &__rating-value {
    }

    &__rating-img {
    }
  }
  .portfolio {
    &__title {
    }

    &__works {
    }

    &__work-card {
    }

    &__work-img {
    }

    &__work-link {
    }
  }
  .portfolio-box {
  }
  .contacts {
    &__title {
    }

    &__description {
    }

    &__btn {
    }

    &__links-list {
    }

    &__link {
    }

    &__img {
    }

    &__sec-description {
    }
  }
  .contacts-box {
  }
}

// media max-1410
@media (max-width: 1410px) {
  .header {
    &__home {
    }

    &__home-btn {
    }

    &__skills {
    }

    &__skills-btn {
    }

    &__portfolio {
    }

    &__portfolio-btn {
    }

    &__contacts {
    }

    &__contacts-btn {
    }

    &__underline {
    }
  }

  .header-buttons {
  }
  .header-panel {
    &__box1 {
    }

    &__name {
    }

    &__position {
    }

    &__language {
    }

    &__language-not-selected {
    }

    &__language-selected {
    }

    &__box2 {
    }

    &__img {
      width: 100%;
    }
  }
  .about {
    &__title {
    }

    &__paragraph1 {
    }

    &__paragraph2 {
    }

    &__paragraph3 {
    }
  }
  .about-box {
  }
  .soft-skills {
    &__box {
    }

    &__title {
    }

    &__description {
    }

    &__rating {
    }

    &__rating-card {
    }

    &__name {
    }

    &__rating-value {
    }

    &__rating-img {
    }
  }
  .portfolio {
    &__title {
    }

    &__works {
    }

    &__work-card {
    }

    &__work-img {
    }

    &__work-link {
    }
  }
  .portfolio-box {
  }
  .contacts {
    &__title {
    }

    &__description {
    }

    &__btn {
    }

    &__links-list {
    }

    &__link {
    }

    &__img {
    }

    &__sec-description {
    }
  }
  .contacts-box {
  }
}
// media 1410

// media 1200

@media (max-width: 1200px) {
  .header {
    &__home {
    }

    &__home-btn {
    }

    &__skills {
    }

    &__skills-btn {
    }

    &__portfolio {
    }

    &__portfolio-btn {
    }

    &__contacts {
    }

    &__contacts-btn {
    }

    &__underline {
    }
  }

  .header-buttons {
  }
  .header-panel {
    &__box1 {
    }

    &__name {
    }

    &__position {
    }

    &__language {
    }

    &__language-not-selected {
    }

    &__language-selected {
    }

    &__box2 {
    }

    &__img {
      width: 100%;
    }
  }
  .about {
    &__title {
    }

    &__paragraph1 {
    }

    &__paragraph2 {
    }

    &__paragraph3 {
    }
  }
  .about-box {
  }
  .soft-skills {
    &__box {
    }

    &__title {
    }

    &__description {
    }

    &__rating {
    }

    &__rating-card {
    }

    &__name {
    }

    &__rating-value {
    }

    &__rating-img {
    }
  }
  .portfolio {
    &__title {
    }

    &__works {
    }

    &__work-card {
    }

    &__work-img {
      width: 100%;
    }

    &__work-link {
    }
  }
  .portfolio-box {
  }
  .contacts {
    &__title {
    }

    &__description {
    }

    &__btn {
    }

    &__links-list {
    }

    &__link {
    }

    &__img {
    }

    &__sec-description {
    }
  }
  .contacts-box {
  }
}

@media (max-width: 900px) {
  .header {
    &__home {
    }

    &__home-btn {
    }

    &__skills {
    }

    &__skills-btn {
    }

    &__portfolio {
    }

    &__portfolio-btn {
    }

    &__contacts {
    }

    &__contacts-btn {
    }

    &__underline {
    }
  }

  .header-buttons {
  }
  .header-panel {
    &__box1 {
    }

    &__name {
    }

    &__position {
    }

    &__language {
    }

    &__language-not-selected {
    }

    &__language-selected {
    }

    &__box2 {
    }

    &__img {
      width: 100%;
    }
  }
  .about {
    &__title {
    }

    &__paragraph1 {
    }

    &__paragraph2 {
    }

    &__paragraph3 {
    }
  }
  .about-box {
  }
  .soft-skills {
    &__box {
    }

    &__title {
    }

    &__description {
    }

    &__rating {
      flex-direction: column;
    }

    &__rating-card {
    }

    &__name {
    }

    &__rating-value {
      display: flex;
      justify-content: center;
    }

    &__rating-img {
    }
  }
  .portfolio {
    &__title {
    }

    &__works {
    }

    &__work-card {
    }

    &__work-img {
    }

    &__work-link {
    }
  }
  .portfolio-box {
  }
  .contacts {
    &__title {
    }

    &__description {
    }

    &__btn {
    }

    &__links-list {
    }

    &__link {
    }

    &__img {
    }

    &__sec-description {
    }
  }
  .contacts-box {
  }
}

// media 1200

// media 767
@media (max-width: 767px) {
  .header {
    &__home {
    }

    &__home-btn {
    }

    &__skills {
    }

    &__skills-btn {
    }

    &__portfolio {
    }

    &__portfolio-btn {
    }

    &__contacts {
    }

    &__contacts-btn {
    }

    &__underline {
    }
  }

  .header-buttons {
  }
  .header-panel {
    &__box1 {
    }

    &__name {
      font-size: 32px;
      width: 150px;
    }

    &__position {
      font-size: 16px;
      width: 200px;
    }

    &__language {
      font-size: 14px;
      margin-bottom: 25px;
    }

    &__language-not-selected {
    }

    &__language-selected {
    }

    &__box2 {
    }

    &__img {
      width: 100%;
    }
  }
  .about {
    &__title {
    }

    &__paragraph1 {
    }

    &__paragraph2 {
    }

    &__paragraph3 {
    }
  }
  .about-box {
  }
  .soft-skills {
    &__box {
    }

    &__title {
    }

    &__description {
    }

    &__rating {
    }

    &__rating-card {
    }

    &__name {
    }

    &__rating-value {
    }

    &__rating-img {
    }
  }
  .portfolio {
    &__title {
    }

    &__works {
    }

    &__work-card {
    }

    &__work-img {
    }

    &__work-link {
    }
  }
  .portfolio-box {
  }
  .contacts {
    &__title {
    }

    &__description {
    }

    &__btn {
    }

    &__links-list {
    }

    &__link {
    }

    &__img {
    }

    &__sec-description {
    }
  }
  .contacts-box {
  }
}
// media 767

// media 425
@media (max-width: 425px) {
  .header {
    &__home {
    }

    &__home-btn {
    }

    &__skills {
    }

    &__skills-btn {
    }

    &__portfolio {
    }

    &__portfolio-btn {
    }

    &__contacts {
    }

    &__contacts-btn {
    }

    &__underline {
    }
  }

  .header-buttons {
  }
  .header-panel {
    &__box1 {
      flex-direction: column;
      align-items: flex-start;
    }

    &__name {
      font-size: 32px;
      width: 150px;
    }

    &__position {
      font-size: 16px;
      width: fit-content;
    }

    &__language {
      font-size: 14px;
      margin-bottom: 25px;
      transform: rotate(0deg);
      margin-right: 0px;
    }

    &__language-not-selected {
    }

    &__language-selected {
    }

    &__box2 {
      margin-top: 0px;
    }

    &__img {
      width: 100%;
    }
  }
  .about {
    &__title {
    }

    &__paragraph1 {
    }

    &__paragraph2 {
    }

    &__paragraph3 {
    }
  }
  .about-box {
  }
  .soft-skills {
    &__box {
    }

    &__title {
    }

    &__description {
    }

    &__rating {
    }

    &__rating-card {
    }

    &__name {
    }

    &__rating-value {
    }

    &__rating-img {
    }
  }
  .portfolio {
    &__title {
    }

    &__works {
    }

    &__work-card {
    }

    &__work-img {
    }

    &__work-link {
    }
  }
  .portfolio-box {
  }
  .contacts {
    &__title {
    }

    &__description {
    }

    &__btn {
    }

    &__links-list {
    }

    &__link {
    }

    &__img {
    }

    &__sec-description {
    }
  }
  .contacts-box {
  }
}
// media 425
